*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    text-align: center;
    justify-content: center;
}
.container{
    max-width: 900px;
    margin: auto;
}
.soco{
    width: 100%;
}
.adaka{
    margin-bottom: 15px;
}
.question-tag{
    margin-bottom: 5px;
}
.paragraph{
    margin-bottom: 20px;
}
.button_1 {
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    left: 50%;
    margin-top: 25px;
    width: 40%;
    border: 1px solid hsl(354, 100%, 66%);
}
.solo{
    text-decoration: none;
    color: white;
   background-color: hsl(223, 100%, 88%);
   padding: 10px;
    border: none;
    border-radius: 25px;
    left: 50%;
    margin-top: 25px;
    width: 18%;
}
/*media quuery*/
@media only screen and (max-width: 425px) {
    .container{
        flex-direction: column;
        max-width: 87%;
    }
    .newsletter{
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .button_1{
        width: 100%;
    }
    .solo{
        width: 100%;
    }
    .paragraph{
        margin-bottom: 15px;
    }
}